.homey-module.module-title.section-title-module.text-left p.sub-heading {
    font-weight: 100 !important;
}

.custom-filter .vc_grid-filter {
    display: none;
}

.filter-container .wpb_wrapper li{
    cursor: pointer;
    display: block;
    list-style: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.filter-container .wpb_wrapper li:before{
    content: "";
    width: 12px;
    height: 12px;
    border: 1px solid #00000070;
    background: #ffffff80;
    display: inline-block;
    margin-right: 6px;
}

.filter-container .wpb_wrapper li.checked:before{
    background: black;
    border-color: white;
}

.filter-container {
    background: #D8D8D8;
}

.filter-content p {
    text-align: left;
    font-size: 16px;
}

.custom-separator .vc_sep_line {
    height: 2px !important;
    background: #b7a04e;
}
.custom-filter .vc_grid-item > div:first-of-type {
    border: 2px solid #b7a04e;
}

.custom-filter .vc_grid-item .vc_btn3-container,.custom-filter .vc_grid-item .vc_gitem-post-data-source-post_title{
    display: none;
}

.custom-filter .vc_grid-item .vc_btn3-container .vc_gitem-post-data-source-post_excerpt{
    font-size: 16px;
}

/* Sidebar */

.filter-container h2, .filter-container h3{
    text-align: center;
}

.filter-container h2 {
    font-weight: 700 !important;
    margin-top: 107%;
    margin-bottom: 0;
}

.filter-content .wpb_wrapper > p {margin: 0 auto;width: 56%;}

.filter-country, .filter-date {
    border-bottom: 1px solid #b7a04e;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.filter-container .wpb_wrapper li:hover {
    font-weight: 700;
}

.filter-section > div {
    display: flex;
}

.page-template section.main-content-area.listing-page.listing-page-full-width {
    padding-bottom: 0;
}

.container {
    width: 100% !important;
}

.vc_custom_1584301528213 {
    left: 0 !important;
}

.vc_gitem-post-data-source-post_excerpt p {
    width: 80%;
    margin: 0 auto;
}

.vc_grid.vc_row.vc_grid-gutter-30px .vc_pageable-slide-wrapper {
    margin-bottom: 120px;
}

@media(max-width: 900px){
    .filter-section > div {
        flex-wrap: wrap;
    }

    .filter-container {
        padding-bottom: 60px;
    }

    .filter-content .wpb_wrapper > p {
        width: 100%;
    }
    .vc_responsive .vc_grid-filter-select {
        display: none;
    }

    .filter-container h2 {
        margin-top: 30px;
    }

    .filter-container .wpb_wrapper li {
        justify-content: center;
    }
}