body {
  color: rgba(0, 0, 0, 0.8);
}

button,
input[type="submit"] {
  background: #950303 !important;
  color: white !important;
  border-radius: 0 !important;
  font-weight: normal !important;
  padding: 7px 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
}

.custom-btn-color {
  margin-bottom: 0;
  margin-right: 17px;
}

.title-2 h2 {
  font-size: 40px;
  font-weight: 500 !important;
}

.title-3 h2 {
  font-size: 25px;
  font-weight: 500 !important;
}

.small-parag p {
  max-width: 54%;
  margin: 0 auto;
  text-align: center;
}

.cards h3 {
  font-size: 29px;
  font-weight: 500 !important;
}

.cards .title-2 {
  margin-bottom: 70px;
  font-weight: 800;
}

.cards {
  margin-bottom: 50px;
}

.cards-1 h2 {
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 800 !important;
}

.cards-1 p {
  margin-bottom: 0;
}

.cards-1 {
  padding: 17px 0;
}

.cards-1-text-small p {
    font-size: 16px;
}

.wpb_wrapper > .cards-1:nth-child(even) {
  background: #f7f8f9;
}

.cards-1 .wpb_single_image.vc_align_left {
  margin-bottom: 0 !important;
}

.cards-1 .wpb_content_element {
    margin-bottom: 9px !important;
}

/* ----- Questions About Your Spiritual Journey? -----*/

form.wpcf7-form {
  max-width: 760px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .cards-1 img {
    margin-bottom: 30px;
}

  .module-title h2 {
    font-size: 32px !important;
  }

  .small-parag p {
    width: 100%;
    max-width: 100%;
  }

  .title-2 h2 {
    font-size: 22px;
  }

  .HeaderMoreInfoContainer {
    display: none;
  }
}
